.login-form {
    max-width: 300px;
    margin: auto;
}
.login-form-remember-me {
    float: left;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.ant-row {
    margin-bottom: 0 !important;
}
